{% load i18n %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{% translate "Wagtail Social" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "Log Out" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_reset' %}">{% translate "Change password" %}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#languageMenu" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "EN" %}
                </a>

                <ul class="dropdown-menu dropdown-menu-end" id="languageMenu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="#">{% translate "English - EN" %}</a></li>
                    <li><a class="dropdown-item" href="#">{% translate "Hindi - HI" %}</a></li>
                </ul>
            </li>
            
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% translate "Log In" %}</a>
        </li>
        {% endif %}
      </ul>      
    </div>
  </div>
</nav>
