{% load i18n %}
{% load wagtailcore_tags %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{% translate "Wagtail Social" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "Log Out" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_reset' %}">{% translate "Change password" %}</a></li>
                    <div class="dropdown-divider"></div>
                    <form class="px-2 dropdown-item" id="languageMenu" aria-labelledby="languageDropdown" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{% pageurl page %}">
                        <label for="languageSelect" class="my-2">{% translate "Language" %}</label>
                        <select id="languageSelect" class="form-select" name="language">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary my-2" value="Go">
                    </form>

                </ul>
            </li>
            
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% translate "Log In" %}</a>
        </li>
        {% endif %}
      </ul>      
    </div>
  </div>
</nav>
