{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Enter new password" %}{% endblock title %}

{% block content %}
<h1>{% translate "Enter new password" %}</h1>

{% if validlink %}

<form action="" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="btn btn-primary" type="submit">{% translate "Change password" %}</button>
</form>

{% else %}
    <p>{% translate "The password reset link was invalid. Please request a new password reset." %}</p>
{% endif %}
{% endblock content %}