{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page.title }}{% endblock title %}

{% load wagtailcore_tags %}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.introduction | richtext }}
<form action="." method="post">
    {% csrf_token %}
    {% if member == False %}
        <input id="membership_action" type="hidden" name="membership_action" value="join">
        <input type="submit" class="btn btn-primary"value="{% translate 'Join group' %}">
    {% else %}
        <input id="membership_action" type="hidden" name="membership_action" value="leave">
        <input type="submit" class="btn btn-secondary" value="{% translate 'Leave group' %}">
    {% endif %}
</form>
{% endblock content %}
