{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% load wagtailcore_tags %}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.introduction | richtext }}

{% regroup chapters by region as chapters_by_region %}
{% for chapters in chapters_by_region %}
    <h3>{{ chapters.grouper }}</h3>
    <ul>
        {% for chapter in chapters.list %}
            <li><a href="{% pageurl chapter %}">{{ chapter }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock content %}