{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page.title }}{% endblock title %}

{% load wagtailcore_tags %}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.introduction | richtext }}

<div class="float-end"><h2>Members: {{ member_count }}</h2></div>

<ul class="nav flex-column">
{% for link in page.links %}
        {% if link.block_type == 'website_link' %}
        <li class="nav-item">
            <a class="nav-link" href="{{ link.value }}">Website link</a>
        </li>
        {% elif link.block_type == 'social_media_link' %}
        <li class="nav-item">
            <a class="nav-link" href="{{ link.value }}">Social Media link</a>
        </li>
        {% endif %}
{% endfor %}
</ul>


{% if user.is_authenticated %}
<form action="." method="post">
    {% csrf_token %}
    {% if member == False %}
        <input id="membership_action" type="hidden" name="membership_action" value="join">
        <input type="submit" class="btn btn-primary"value="{% translate 'Join group' %}">
    {% else %}
        <input id="membership_action" type="hidden" name="membership_action" value="leave">
        <input type="submit" class="btn btn-secondary" value="{% translate 'Leave group' %}">
    {% endif %}
</form>
{% endif %}
{% endblock content %}
