{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% load wagtailcore_tags %}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.introduction | richtext }}

{% regroup chapters by region as chapters_by_region %}
<ul>
    {% for chapters in chapters_by_region %}
        <li>{{ chapters.grouper }}</li>
        <ul>
            {% for chapter in chapters.list %}
                <li>{{ chapter }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

{% endblock content %}