{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<p>Welcome to Wagtail Social.</p>

<div class="intro">{{ page.intro }}</div>
{% for invite_friend in invite_friends %}
    {% with invite_friend=invite_friend.specific %}
        <div style="text-align: right;">
            <h4><a href="{% pageurl invite_friend %}">{{ invite_friend.title }}</a></h4>
        </div>
    {% endwith %}
{% endfor %}

{% endblock content %}
