{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<p>{% translate "Welcome to Wagtail Social." %}</p>

<div class="intro">{{ page.intro }}</div>
{% for block in page.body %}
    {% if block.block_type == 'heading' %}
        <h1>{{ block.value }}</h1>
    {% else %}
        <section class="block-{{ block.block_type }}">
            {% include_block block %}
        </section>
    {% endif %}
{% endfor %}

<div>
    {% if invite_friends_page %}
        <h2><a href="{% pageurl invite_friends_page %}">{{ invite_friends_page.title }}</a></h2>
    {% endif %}
    <br>
    {% if chapters_index_page %}
        <h2><a href="{% pageurl chapters_index_page %}">{{ chapters_index_page.title }}</a></h2>
    {% endif %}
</div>

{% endblock content %}
