{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.intro | richtext }}

    <form class="form-horizontal" method="post">{% csrf_token %}
        <fieldset>
            {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <p>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value={% translate "Send Invitation Now!" %}>{% translate "Submit" %}</button>
            </div>
        </p>
    </form>
    <p><a href="{{ page.get_parent.url }}">{% translate "Return to home" %}</a></p>
{% endblock %}
